/* css variable */
:root{
    --primary-color: white;
}

/* general styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient( to right, rgb(150, 209, 150), rgb(143, 95, 95)) no-repeat;
}

main {
    padding: 2.5em 0.5em;
    margin: 1em;
    min-height: 100vh;
    background: rgba(228, 219, 219, 0.397);
    box-shadow: 0 0 5px 2px rgba(245, 245, 245, 0.395);
}

/* form style */
.form-container{
    display: flex;
    justify-content: center;
}

input{
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 0;
    border: none;
    outline: none;
}

input[type="submit"]{
    cursor: pointer;
    background: rgba(41, 27, 27, 0.703);
    color: var(--primary-color);
}

input[type="submit"]:hover{
    background: rgba(12, 128, 12, 0.662);
}

/* movie container */
.movie-list-container>h2{
    margin: 2em 0 0.5em;
}

.movie-list{
    display: flex;
    flex-direction: column;
}

.movie-list li{
    display: flex;
    justify-content: space-evenly;
    max-width: 900px;
    padding: 1em;
}

.movie-list li:hover{
    box-shadow: 0 0 3px 2px lightgrey;
}

.movie-list button{
    padding: 0 1em;
    border-radius: 0;
    cursor: pointer;
    background: rgba(91, 36, 36, 0.721);
    color: var(--primary-color);
    margin-left: 1em;
}

.movie-list button:hover{
    background: red;
}

.movie-list input{
    text-transform: capitalize;
    appearance: none;
    border: none;
    outline: none;
}

.movie-list input[type="number"]{
    font-size: 0.7rem;
}

.movie-list input:not(:read-only){
    color: darkgray;
}

.movie-info{
    width: 80%;
    display: flex;
    flex-direction: column;
}